<div class="container">
  <div class="col-md-8">
    <h3>Overdue Projects for <%="#{current_user.email}"%></h3><br>
    <% @projects.each do |project| %>
        <h4><%= link_to project.name, project_path(project), method: 'get' %></h4>
    <% end %>

  </div>
</div>
